<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestPrintecConnectionString"
      connectionString="Data Source=ADIMIHAILESCU\ADM_SQL2005;Initial Catalog=TEST_PRINTEC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>